<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="con" connectionString="Server=localhost;Database=hr_cam;Uid=root;Pwd=;" providerName="MySql.Data.MySqlClient" />
 
  </connectionStrings>
	<appSettings>
		<add key="ApiUrl" value="http://141.147.150.110:3001/" />
		<add key="ApiUrlReport" value="http://localhost:3001" />
		<!--<add key="ScheduleUrl" value="https://apl.cloudtech.id/bitdefender" /> -->
		<add key="ScheduleUrl" value="~/daily-check-up" />
		<add key="ApiUser" value="phr" />
		<add key="ApiPassword" value="phr" />
		<!--<add key="urlImage" value="C:\Users\ati\source\repos\hr_cam\hr_cam\image_file\" />-->
		<add key="urlImage" value="D:/bahan/hr_cam/hr_cam/hr_cam/image_file/" />
		<add key="urlImagePerson" value="D:/bahan/hr_cam/hr_cam/hr_cam/person_image/" />
		<add key="urlImage2" value="D:\bahan\hr_cam\hr_cam\hr_cam\image_file\" />
		<add key="urlImagePerson2" value="D:\bahan\hr_cam\hr_cam\hr_cam\person_image\" />
		<add key="urlLogo" value="D:\bahan\hr_cam\hr_cam\hr_cam\bootstrap\" />
		<add key="batas" value="3" />
	</appSettings>
  <system.web>
	  <customErrors mode="Off" />
	  
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="~/home.aspx" />
    </authentication>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=22.1460.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      <!--<add verb="*" path="Handler.ashx" type="hr_cam.Handler, hr_cam" />-->
    </httpHandlers>
    <!--<httpHandlers>
	  </httpHandlers>-->
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Binding redirect for Newtonsoft.Json -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <!-- Binding redirect for System.Web.Cors -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
	  <!--<webSocket enabled="true" />-->
	  <httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true" />
    <!--<httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Origin" value="https://localhost:44388" />
			  <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
		  </customHeaders>
	  </httpProtocol>-->
    <!--<httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Origin" value="https://localhost:44388" />
			  <add name="Access-Control-Allow-Methods" value="POST, OPTIONS" />
			  <add name="Access-Control-Allow-Headers" value="Content-Type" />
		  </customHeaders>
	  </httpProtocol>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
	<!--<webSocket enabled="true" />--> 
    <handlers>
		<add name="WebSocketHandler" path="WebSocketHandler.ashx" verb="*" type="hr_cam.WebSocketHandler" resourceType="Unspecified" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=22.1460.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		<add name="PersonImageHandler" path="person_image.ashx" verb="*" type="Namespace.PersonImageHandler" resourceType="Unspecified" />
		<!--<add name="WebSocketHandler" path="ws" verb="*" type="hr_cam.WebSocketHandler" resourceType="Unspecified" />-->
		<!--<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
    <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />-->
	  <!--<add name="WebSocketHandler" path="WebSocketHandler.ashx" verb="*" type="WebSocketHandler" resourceType="Unspecified" />-->
    </handlers>
  </system.webServer>
	<location path="person_image">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="image_file">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="report_file">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
</configuration>